* {
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans','Liberation Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

/* h1 a button {
    font-family: "Roboto, system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans','Liberation Sans', sans-serif";
} */